name: CICD

on:
  push:
    branches: [main]
    paths-ignore:
      - 'k8s/**'  
      

jobs:
  build-and-push:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}
      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            seongje00416/todo-backend:latest
            seongje00416/todo-backend:${{ github.sha }}
  deploy:
    needs: build-and-push
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GH_PAT }}
      - name: Update image tag and push
        run: |
          sed -i "s|image: seongje00416/todo-backend:.*|image: seongje00416/todo-backend:${{ github.sha }}|g" k8s/deployment.yaml
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add k8s/deployment.yaml
          git commit -m "[skip ci] Update image tag to ${{ github.sha }}"
          git push